{% extends '::base.html.twig' %}

{% block body %}

    <div class="col-md-2" id="menuLeft-container" >
        <div  role="navigation" id="menuLeft">
            {{ render(controller('SnoozitPlatformBundle:Site:categoriesMenu')) }}
        </div>
    </div>

    <div class="col-md-10 col-md-offset-2">
        {% include 'SnoozitPlatformBundle:DashBoard/EditAdvert:editAdvertSolded_content.html.twig' %}
    </div>

{% endblock body %}