<nav>
    <div class="row" id="dashboardMenu" >
        <div class="text-center">
            <a href="{{ path('snoozit_add_advert') }}" class="btn btn-publish"><i class="fa fa-edit"></i></a>
        </div>

        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="{{ path('snoozit_dashboard_homepage') }}">
                    <i class="fa fa-home fa-3x"></i>
                    <p>Accueil</p>
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_profile_edit') }}">
                    <i class="fa fa-gears fa-3x"></i>
                    <p>Réglages</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home fa-3x"></i>
                    <p>Accueil</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home fa-3x"></i>
                    <p>Accueil</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home fa-3x"></i>
                    <p>Accueil</p>
                </a>
            </li>
        </ul>
    </div>
</nav>