{% trans_default_domain 'FOSUserBundle' %}
<div class="row fos-user-edit-form-head">
    <div class="text-center">
        <h3>Gestion de votre compte</h3>
    </div>
</div>
<div class="row fos-user-edit-form-body">

    <div class="col-lg-12 form-content text-center">
        <div class="text-center">
            <h3>Pas encore en place</h3>
        </div>
        <div class="text-center col-md-offset-4 col-md-4">
            <br/>
            <input type="submit" class="btn btn-primary btn-xs btn-rounded btn-block" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </div>
</div>
