{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="flash-notice">
        <div class="flash-notice-content success">
            <p> <i class="fa fa-check-circle fa-2x"></i> <span>{{ flashMessage }}</span></p>
        </div>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="flash-notice">
        <div class="flash-notice-content error">
            <p> <i class="fa fa-recycle fa-2x"></i> <span>{{ flashMessage }}</span>
            </p>
        </div>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="flash-notice">
        <div class="flash-notice-content info">
            <p> <i class="fa fa-info-circle fa-2x"></i> <span>{{ flashMessage }}</span>
            </p>
        </div>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="flash-notice">
        <div class="flash-notice-content warning">
            <p> <i class="fa fa-warning fa-2x"></i> <span>{{ flashMessage }}</span>
            </p>
        </div>
    </div>
{% endfor %}