<div class="col-xs-12">
    <div class="well well-sm">
        <div class="clearfix">
            <div class="col-md-8" id="annonces-container">
                <div class="row">



                </div>
            </div>

        </div>
    </div>
</div>